body{
  background-color: seashell;
}
h1{
  text-align: center;
  color: white;
  background-color: blue;
  font-size: 50px;
  font-family: 'Indie Flower';
}

h3{
  text-align: center;
  color: white;
  background-color:blue;
  font-family: 'Macondo', cursive;
  font-size: 40px;
  margin-top: -8px;
}

h4{
  text-align: center;
  color: red;
  font-family: 'Kalam', cursive;
  font-weight: bold;
  font-size: 50px;
}

#dogeBread{
  width: 40%
}

#oven{
  margin-left: 500px;
}